{% load static %}
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css" rel="stylesheet" id="bootstrap-css">
	
	<link rel="stylesheet" type="text/css" href="css/my_css/Course_page.css">

	<!-- Title -->
	<title>Страница курса</title> 
</head>

<body>	
	<!-- Header -->
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #71c2dc;">
		<div class="ml-5">
			<a class="navbar-brand" href="#">
				<img src="img/Logo.png" width="90" height="27" alt=""><span class="sr-only">(current)</span></img>
			</a>
		</div>
		<button class="navbar-toggler mr-5" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Кнопки в Header -->
		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav mr-3 ml-auto">
				<li class="nav-item">
					<a class="nav-link" id="first" href="#">Курслар</a>
				</li>
				<li class="nav-item">
					<a class="nav-link yth" href="#">Проект турында</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Экспертлар</a>
				</li >
				<li class="nav-item">
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Эзләү">
					</form>
				</li>
				<li class="nav-item">
					<a href="{% url 'login' %}"><button class="btn shadow-sm rounded btn-outline-success mr-5 my-2 my-sm-0" id="signinbtn" type="submit">Керү</button></a>
				</li>
			</ul>
		</div>
	</nav>   

	<div class="container margin_for_banner">
		<div class="row">	
			<div class="img-wrap">		
				<img class="container" src="img/Course_page_img/trolley_stop_city_evening_lighting_119292_3840x21602.jpg" class="img-responsive">
				<h1  class="container mb-3" style="color: #ffffff">Название курса</h1>
				<!-- <h1  class="container text-right" style="color: #ffffff">Кнопка</h1> -->
				<div class="text-right container urod">
					<button type="button" class="shadow-sm rounded btn btn-primarynew mt-5 btn-lg mb-3" style="width:200px;height:50px;">След. страница</button>
				</div>
			</div>
		</div>	  		
	</div>


	<div class="container">
		<div class="row">
			<div class="col">
				<div class="card mt-5 mb-5" style="width: 18rem; float: left">
					<div class="card-body">
						<h4 class="card-title">Описание (цели)</h4>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mt-5 mb-5" style="width: 18rem; float: right">
					<div class="card-body">
						<h5 class="card-title">Дата начала:</h5>
						<p class="card-text">06.08.2019</p>
						<h5 class="card-title">Нагрузка:</h5>
						<p class="card-text">12:45</p>
						<h5 class="card-title">Язык:</h5>
						<p class="card-text">Татарский</p>
					</div>
				</div>	
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="card mb-5" style="width: 18rem; float: left">
					<div class="card-body">
						<h4 class="card-title">1 Модуль:</h4>
						<ul class="card-title">
							<li>
								<p class="card-text">---------------</p>
							</li>
							<li>
								<p class="card-text">---------------</p>
							</li>
							<li>
								<p class="card-text">---------------</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="card mb-5" style="width: 18rem; float: left">
					<div class="card-body">
						<h4 class="card-title">2 Модуль:</h4>
						<ul class="card-title">
							<li>
								<p class="card-text">---------------</p>
							</li>
							<li>
								<p class="card-text">---------------</p>
							</li>
							<li>
								<p class="card-text">---------------</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	

	<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4" href="#">
					<img src="img/Logo.png" width="245" height="70" alt=""><span class="sr-only">(current)</span></img>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Ссылки на разделы:</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Контакты</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Организация</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Лицензия</a></li>
					</ul>
				</div>
				
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Партнеры:</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Татнефть</a></li>
					</ul>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
						<ul class="list-unstyled list-inline social text-center">
							<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i> <img src="img/768px-VK.com-logo.svg.png" width="30" height="30"></a></li>
							<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i><img src="img/md_5b321ca31d522.png" width="33" height="33"></a></li>
							<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i><img src="img/Facebook_logo_(square).png" width="28" height="28"></a></li>
							<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
						</ul>
					</div>
				</div>	
			</div>
		</section>



		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
	</html>
 