{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link href="{% static 'course_lesson/css/lesson.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/includes/footer.css' %}" type="text/css" rel="stylesheet">

    <title>Ачык университет</title>
</head>
<body style="background-color:white">
{% include 'includes/header.html' %}


<div class="container">
    <div class="row" style="margin-top: 100px">
        <div class="col-md-8">
            <iframe width="560" height="315" src="{{ lesson.video_link }}" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>

        <div class="col-md-4">
            <div class="card mt-4" style="width: 20rem; float: right; height: 15rem; color: #4191ab"">
                <div class="card-body">
                    <h4 class="card-title">{{ module.name }}</h4>
                    <h5 class="card-title">Программа модуля</h5>
                    {% for lesson_from_module in lessons_from_module %}
                        <p class="card-text">
                            <a href="{% url 'course_lesson:lesson' lesson_from_module.module.course.queue_number lesson_from_module.module.queue_number  lesson_from_module.queue_number %}">{{ lesson_from_module.name }}</a>
                        </p>
                    {% endfor %}
                    <div class="d-flex justify-content-center">
                        <button href="{% url 'test:test' lesson.module.course.queue_number lesson.module.queue_number %}"
                                class="btn btn-primary shadow-sm" style="width: 100px">Тест
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 49.5rem; float: left">
                <div class="card-body">
                    <h2 class="card-title" style="color: #4191ab">Название урока</h2>
                    <p class="card-text">Описание урока</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5" style="color: #4191ab">
    <h2>Преподаватель:</h2>
</div>
<div class="container mt-3">
    <div class="card" style="max-width: 540px;">
        <div class="row no-gutters" style="">
            <div class="col-md-4">
                <img src="{% static 'course_lesson/img/arsik.png' %}" class="card-img" alt="препод">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title">{{ lesson.teacher.first_name }} {{ lesson.teacher.last_name }}</h4>
                    {#                        КРАТКОЕ ОПИСАНИЕ ПРЕПОДАААА!!!!#}
                    <p class="card-text">{{ lesson.teacher.information }}</p>
                    {#                        NOT ACTIVE#}
                    <a href="#" class="btn btn-primary shadow-sm">Больше про препода</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5" style="color: #4191ab">
    <h2>Материалы к лекции:</h2>
</div>

<div class="container">
    {% for resource in resources %}
        <div class="card mt-3" style="width: 49.5rem;">
            <div class="row no-gutters" style="">
                <div class="col-md-4">
                    <img src="{% static 'course_lesson/img/wiki.png' %}" class="card-img" style="width: 150px" alt="препод">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="card-title">{{ resource.name }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


<div class="container mt-5 mb-5 d-flex justify-content-center">
    {% if next_lesson %}
        <a href="{% url 'course_lesson:lesson' lesson.module.course.queue_number lesson.module.queue_number next_lesson.queue_number %}"
           class="shadow btn btn-primary container btn-lg d-flex justify-content-center"
           style="width:300px;height:50px">Следующее видео</a>
    {% else %}
        <a href="{% url 'test:test' lesson.module.course.queue_number lesson.module.queue_number %}"
           class="shadow btn btn-primary container btn-lg d-flex justify-content-center" style="width:300px;height:50px">Начать тест</a>

    {% endif %}
</div>


{% include 'includes/footer.html' %}
</body>
</html>