{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link href="{% static 'course_lesson/css/lesson.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/includes/footer.css' %}" type="text/css" rel="stylesheet">

    <title>Ачык университет</title>
</head>
<body style="background-color:white">
{% include 'includes/header.html' %}
<div class="container mt-5">
    <h1 align="center">Беренче Дәрес!</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">

            <img src="{% static 'course_lesson/img/tatpo.jpg' %}" class="img-fluid" alt="Видео">

        </div>
        <div class="col-md-4">
            <div class="card">
                <div style="background-color:#a3f1f7" class="card-body">
                    <h4 class="card-title">Название модуля</h4>
                    <h5 class="card-title">(программа модуля)</h5>
                    <p class="card-text">1.Начало</p>
                    <p class="card-text">2.Почти</p>
                    <p class="card-text">3.Кульминация</p>
                    <p class="card-text">4.Концовка</p>
                    <a href="#" class="btn btn-primary">Тест</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h3> Описание урока</h3>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Данный урок является итоговым, на котором применяются и оцениваются знания и умения, полученные
                    ранее, степень владения учебным материалом и понимание</p>
            </blockquote>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="card mb-1" style="max-width: 1080px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{% static 'course_lesson/img/arsik.png' %}" class="card-img" alt="препод">
                </div>


                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">Преподователь</h4>
                        <p class="card-text">Препод КФУ</p>
                        <a href="#" class="btn btn-primary">Больше про препода</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="col-md-12">
        <div class="card-deck">
            <div class="card">
                <img src="{% static 'course_lesson/img/wiki.png' %}" class="card-img-top" alt="wiki">
                <div class="card-body">
                    <h5 class="card-title">Википедия</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>


            </div>
            <div class="card">
                <img src="{% static 'course_lesson/img/boy.png' %}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Название карточки</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional
                        content.</p>
                </div>


            </div>
            <div class="card">
                <img src={% static 'course_lesson/img/tatpo.jpg' %} class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Название карточки</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <button type="button" class="btn btn-primary btn-lg btn-block">Следующее видео</button>
</div>
{% include 'includes/footer.html' %}
</body>
</html>