{% load static %}
{% block content %}
    <!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4" href="#">
					<img src="{% static 'img/Logo.png' %}" width="245" height="70" alt=""><span class="sr-only">(current)</span></img>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Ссылки на разделы:</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Контакты</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Организация</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Лицензия</a></li>
					</ul>
				</div>

				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Партнеры:</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Татнефть</a></li>
					</ul>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
						<ul class="list-unstyled list-inline social text-center">
							<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i> <img src="{% static 'img/768px-VK.com-logo.svg.png' %}" width="30" height="30"></a></li>
							<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i><img src="{% static 'img/md_5b321ca31d522.png' %}" width="33" height="33"></a></li>
							<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i><img src="{% static 'img/Facebook_logo_(square).png' %}" width="28" height="28"></a></li>
							<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
						</ul>
					</div>
				</div>
			<!--<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
					<p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
				</div>
				</hr>
			</div>	-->


		</div>
        </div>
	</section>
{% endblock %}