.btn-primary {
  color: #fff;
  background-color: #71c2dc;
  border-color: #71c2dc;
}

.btn-primary:hover {
  color: #fff;
  background-color: #146985;
  border-color: #146985;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: transparent;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #146985;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.margin_for_banner{
  margin-top: 56px;
}

.tr {
  margin-top: 100px;
  margin-bottom: 10px;
  color: #075e7b;
}

.otziv {
  float: right;
}