                  {% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <!---<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/includes/footer.css' %}">



    <!-- Title -->
    <title>Ачык университет</title>
  </head>

  <body>
	{% include 'includes/header.html' %}
    {% for course in courses %}
        course.name
    {% endfor %}
	<!-- Jumbotron
	<div class="jumbotron jumbotron-fluid mt-5">
	  <div class="container">
	    <h1 class="display-4">Fluid jumbotron</h1>
	    <p class="lead">Это модифицированный jumbotron, который занимает все горизонтальное пространство своего родителя.</p>
	  </div>
	</div> -->

	<!-- Карусель -->
	<div class="bd-example margin_for_banner">
	  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
	    <div class="carousel-inner">
	      <div class="carousel-item active">
	        <img src="{% static 'pages/img/trolley_stop_city_evening_lighting_119292_3840x21602.jpg' %}" class="d-block w-100" alt="...">
	        <div class="carousel-caption d-none d-md-block">
	          <h5>First slide label</h5>
	          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
	        </div>
	      </div>
	    </div>
	</div>

	<h1 class="d-flex justify-content-center tr">Курслар</h1>

	<!-- Карточки -->
	<div class="container d-flex justify-content-center mb-5">
	  <div class="row card-deck">
	    <div class="col-sm mt-5">
			<div class="card d-flex justify-content-center" style="width: 18rem;">
			  <img src="{% static 'pages/img/kul-sharif.jpg' %}" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title">Название карточки</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class=" shadow-sm rounded btn btn-primary">Күчергә</a>
			  </div>
			</div>
	    </div>
	    <div class="col-sm mt-5">
	      <div class="card d-flex justify-content-center" style="width: 18rem;">
			  <img src="{% static 'pages/img/kul-sharif.jpg' %}" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title">Название карточки</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class=" shadow-sm rounded btn btn-primary">Күчергә</a>
			  </div>
			</div>
	    </div>
	    <div class="col-sm mt-5">
	      <div class="card d-flex justify-content-center" style="width: 18rem;">
			  <img src="{% static 'pages/img/kul-sharif.jpg' %}" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title">Название карточки</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="shadow-sm rounded btn btn-primary">Күчергә</a>
			  </div>
			</div>
	    </div>
	  </div>
	</div>

	<button type="button" class="shadow-sm rounded btn btn-primarynew container mt-5 d-flex justify-content-center btn-lg mb-5" style="width:300px;height:50px">Больше курсов</button>


	<h1 class="d-flex justify-content-center tr">Проект турында</h1>



	<!-- Horizontal card-->
	<div class=" mb-3 container mt-5" style="max-width: 985px;">
	  <div class="row no-gutters">
	    <div class="col-md-4">
	      <img src="{% static 'pages/img/kul-sharif.jpg' %}" class="card-img" alt="...">
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title">Название карточки</h5>
	        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
	        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	      </div>
	    </div>
	  </div>
	</div>

	<div class=" mb-3 container mt-5" style="max-width: 985px;">
	  <div class="row no-gutters">
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title">Название карточки</h5>
	        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
	        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	      </div>
	    </div>
	    <div class="col-md-4">
	      <img src="{% static 'pages/img/kul-sharif.jpg' %}" class="card-img" alt="...">
	    </div>
	  </div>
	</div>

	<div class=" mb-3 container mt-5" style="max-width: 985px;">
	  <div class="row no-gutters">
	    <div class="col-md-4">
	      <img src="{% static 'signin_signup/../../static/pages/img/kul-sharif.jpg' %}" class="card-img" alt="...">
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title">Название карточки</h5>
	        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
	        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Отзывы -->
	<h1 class="d-flex justify-content-center tr " >Отзывлар</h1>


	<div class="mb-3 container mt-5 d-flex justify-content-center" style="max-width: 985px;">
	  <div class="row no-gutters d-flex justify-content-center">
	    <div class="mt-4">
	      <img src="{% static 'pages/img/minnikhanov.jpg' %}" width="40" height="40" class=" rounded-circle" alt="...">
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title">Название карточки</h5>
	        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
	        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="mb-3 container mt-5 d-flex justify-content-center" style="max-width: 985px;">
	  <div class="row no-gutters d-flex justify-content-center">
	    <div class="mt-4">
	      <img src="{% static 'pages/img/minnikhanov.jpg' %}" width="40" height="40" class=" rounded-circle" alt="...">
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title">Название карточки</h5>
	        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
	        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="mb-3 container mt-5 d-flex justify-content-center" style="max-width: 985px;">
	  <div class="row no-gutters d-flex justify-content-center">
	    <div class="mt-4">
	      <img src="{% static 'pages/img/minnikhanov.jpg' %}" width="40" height="40" class=" rounded-circle" alt="...">
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title">Название карточки</h5>
	        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
	        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	      </div>
	    </div>
	  </div>
	</div>
	<div>
		<button type="button" class="shadow btn btn-primary container mt-5 d-flex justify-content-center btn-lg mb-5" style="width:430px;height:80px">Укый башларга</button>
	</div>

    {% include 'includes/footer.html' %}
    </div>
  </body>
</html>